.durability-edit,
.inv-damage-edit {
   text-decoration: underline dotted;
   cursor: text;
}

.aztec-action-btn {
   color: #191813; /* Standard PF2e icon colour */
   text-shadow: none !important; /* Block the white glow from the <h4> */
   transition:
      color 0.2s,
      text-shadow 0.2s;
}

.aztec-action-btn:hover {
   color: var(--color-text-red, #d9534f);
   text-shadow: 0 0 1px var(--color-text-red, #d9534f) !important; /* Standard PF2e red glow */
}
